body {
  background: linear-gradient(45deg, pink, rgb(187, 146, 187), yellow);
  background-size: contain;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.counter-container {
  background-color: white;
  max-width: 60%;
  margin: auto;
  border: solid black 2px;
}
h1 {
  padding-top: 5vw;
}
h2 {
  font-size: 2rem;
  padding: 5vh;
}

button {
  background-color: green;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;

  margin: 10px auto;
  width: 30%;
}
#incre-btn {
  background-color: rgb(150, 39, 39);
}
#save-el {
  padding-bottom: 20px;
  padding-top: 20px;
}
